/**
 * doMenu

.dd
  position: relative
  display: inline-block
  margin: 0
  padding: 0
  width: 60%
  list-style: none
  font-family: 'Helvetica Neue', Arial, sans-serif
  font-size: 13px
  line-height: 20px

.dd-edit-box
  input, textarea
    border: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
    background: transparent
    text-overflow: ellipsis
    outline: none
    font-size: 13px
    color: #444
    text-shadow: 0 1px 0 #fff
    width: 30%
  input::selection, textarea::selection
    color: #fff
    background: #0e90d2
  input:focus, textarea:focus
    text-shadow: none

.dd-button-container .custom-button-example
  color: #000
  text-align: center
  padding: 1px 4px

.dd-edit-box
  select
    width: 30%
  > *
    vertical-align: top
  input
    margin-bottom: 0

 .dd-edit-box
  select, textarea
    margin-bottom: 0

.dd-edit-box
  position: relative
  i
    right: 0
    overflow: hidden
    cursor: pointer
    position: absolute
    font-style: normal

.dd-item-blueprint
  display: none

.dd > .dd-list
  min-height: 80px

.dd-list
  display: block
  position: relative
  margin: 0
  padding: 0
  list-style: none
  .dd-list
    left: 30px
    margin-right: 30px

.dd-collapsed .dd-list
  display: none

.dd-item, .dd-empty, .dd-placeholder
  text-shadow: 0 1px 0 #fff
  display: block
  position: relative
  margin: 0
  padding: 0
  min-height: 20px
  font-size: 13px
  line-height: 20px

.dd-handle
  cursor: move
  display: block
  margin: 5px 0
  padding: 5px 10px
  color: #333
  text-decoration: none
  font-weight: bold
  border: 1px solid #aaa
  background: #c8c8c8
  background: -webkit-linear-gradient(to top, #c8c8c8 0%, #8c8c8c 100%)
  background: -moz-linear-gradient(to top, #c8c8c8 0%, #8c8c8c 100%)
  background: linear-gradient(to top, #c8c8c8 0%, #8c8c8c 100%)
  -webkit-border-radius: 3px
  border-radius: 3px
  box-sizing: border-box
  -moz-box-sizing: border-box
  &:hover
    color: #2ea8e5
    background: #fff

.dd-item > button
  display: inline-block
  position: relative
  cursor: pointer
  float: left
  width: 24px
  height: 20px
  margin: 5px 5px 5px 30px
  padding: 0
  white-space: nowrap
  overflow: hidden
  border: 0
  background: transparent
  font-size: 12px
  line-height: 1
  text-align: center
  font-weight: bold
  color: black

.dd.domenu .dd-new-item
  background: transparent
  border: 3px dotted #8F8F8F
  border-radius: 11px
  width: 100%
  height: 35px
  font-size: 29px
  color: #8F8F8F
  outline: none

/* @since > 0.13.29

//.dd-item
//  .item-remove, .item-remove-confirm, .item-add
//    outline: none
//  .dd-button-container
//    button
//      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.51), rgba(0, 0, 0, 0.14))
//      border: 1px solid #898989
//      border-radius: 2px
//      font: normal 12px/18px Helvetica, Lato, Arial sans-serif
//      cursor: pointer
//    .item-add
//      background-color: #55b3ff
//      border-color: #376f9c
//      color: #ffffff
//      text-shadow: 0 1px 0 #2b77b5
//      box-shadow: inset 0 1px 0 #cfe9ff
//      &:active
//        box-shadow: inset 0 1px 3px #376f9c
//    .item-remove
//      background-color: #ff5555
//      border-color: #a54b4b
//      color: #5a1111
//      text-shadow: 0 1px 0 #ffc0c0
//      box-shadow: inset 0 1px 0 #ffc0c0
//      transition: background-color 0.35s
//      &:active
//        box-shadow: inset 0 1px 5px #a54b4b
//    .item-remove-confirm
//      background-color: #ffa155
//      transition: background-color 0.35s
//      border-color: #ad7232


.item-remove-confirm
  background: #ffce66

.dd-item .dd-button-container
  position: absolute
  height: 19px
  padding: 0 5px
  top: 4px
  overflow: visible
  display: none
  right: 0

/* end @since > 0.13.29

.dd3-item > button:first-child
  margin-left: 30px

.dd-item > button:before
  display: block
  position: absolute
  width: 100%
  text-align: center
  text-indent: 0

.dd-placeholder, .dd-empty
  margin: 5px 0
  padding: 0
  min-height: 30px
  background: #D6F2FF
  border: 1px dashed #6C9AB1
  box-sizing: border-box
  -moz-box-sizing: border-box

.dd-placeholder.max-depth
  background: #ffb3b7
  border: 1px dashed #b14444

.dd-empty
  border: 1px dashed #bbb
  min-height: 100px
  background-color: #e5e5e5
  background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff)
  background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff)
  background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff)
  background-size: 60px 60px
  background-position: 0 0, 30px 30px

.dd-dragel
  height: 60px
  position: absolute
  pointer-events: none
  z-index: 9999
  > .dd-item .dd-handle
    margin-top: 0
  .dd-handle
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1)
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1)

/**
 * doMenu Draggable Handles

.dd3-content
  display: block
  height: 100%
  margin: 5px 0
  padding: 5px 10px 5px 40px
  color: #333
  text-decoration: none
  font-weight: bold
  border: 1px solid #ccc
  border: 1px solid #898989
  background: #fafafa
  background: -webkit-linear-gradient(to top, #f4f4f4 10%, #c9c9c9 100%)
  background: -moz-linear-gradient(to top, #f4f4f4 10%, #c9c9c9 100%)
  background: linear-gradient(to top, #f4f4f4 10%, #c9c9c9 100%)
  -webkit-border-radius: 3px
  border-radius: 3px
  box-sizing: border-box
  -moz-box-sizing: border-box
  &:hover
    color: #2ea8e5
    background: #c8c8c8
    background: -webkit-linear-gradient(to top, #e5e5e5 10%, #ffffff 100%)
    background: -moz-linear-gradient(to top, #e5e5e5 10%, #ffffff 100%)
    background: linear-gradient(to top, #e5e5e5 10%, #ffffff 100%)

.dd-dragel > .dd3-item > .dd3-content
  margin: 0

.dd3-handle
  position: absolute
  margin: 0
  left: 0
  top: 0
  cursor: move
  width: 30px
  text-indent: 100%
  white-space: nowrap
  overflow: hidden
  border: 1px solid #807b7b
  text-shadow: 0 1px 0 #807b7b
  background: #c8c8c8
  background: -webkit-linear-gradient(to top, #c8c8c8 0%, #8c8c8c 100%)
  background: -moz-linear-gradient(to top, #c8c8c8 0%, #8c8c8c 100%)
  background: linear-gradient(to top, #c8c8c8 0%, #8c8c8c 100%)
  border-top-right-radius: 0
  border-bottom-right-radius: 0
  &:before
    content: '\2263'
    display: block
    position: absolute
    left: 0
    top: 3px
    width: 100%
    text-align: center
    text-indent: 0
    color: #fff
    font-size: 20px
    font-weight: normal
  &:hover
    background: #c8c8c8
    background: -webkit-linear-gradient(to top, #c8c8c8 0%, #8c8c8c 100%)
    background: -moz-linear-gradient(to top, #c8c8c8 0%, #8c8c8c 100%)
    background: linear-gradient(to top, #c8c8c8 0%, #8c8c8c 100%)

.dd3-content:hover .dd-button-container
  display: block
  transition: display 2s

.dd .dd-new-item
  width: 100%
  border: 2px dashed #BDBDBD
  background: transparent
  border-radius: 3px
  font-size: 21px
  color: #BDBDBD
  cursor: pointer
  transition: border 0.35s ease 0s, color 0.35s ease 0s
  outline: none
  &:hover
    border: 2px dashed #595858
    color: #595858
    transition: border 0.35s ease 0s, color 0.35s ease 0s