/**
 * Notify component
#notify
  position: fixed
  z-index: 999999999999
  right: 50px
  bottom: 30px
  max-width: 300px
  text-align: right

  .alert
    text-align: left


/**
 * MENU
.admin-sidebar
  //
  .menu
    //
    .menu-item
      //
      .menu-link
        //
        .menu-name
          //
          .menu-arrow
            vertical-align: middle
            margin: 0 0 0 4px
        //
        .menu-icon
          //
          .icon-placeholder
            font-size: 13px


/**
 * Multimedia
.context-menu-button
  //
  &:after
    display: none
