
// Bootstrap setup
@import '../vendor/bootstrap/scss/functions';

// Atmos theme setup
@import 'themes/default';

// Bootstrap core
@import '../vendor/bootstrap/scss/bootstrap';

// module imports
@import 'modules/imports';

// Custom core
@import 'user';


// Custom styles
.images-wrapper {
  .image {
    &.checked {
      border-color: $success !important;
    }
    &.main {
      border-color: $primary !important;
    }
  }
}
